
<!-- Navbar sur mobile avec hamburger menu -->
<nav data-controller="menu" class="sticky top-0 z-20 bg-white lg:hidden">
  <div class="flex items-center justify-between py-2 px-2 shadow">

    <div  class="flex items-center outline-none">
      <button data-action="click->menu#toggle" id="options-menu" class="text-gray-600 focus:outline-none hover:text-gray-400">
        <svg data-menu-target="open" class="w-8 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        <svg data-menu-target="close" class="w-8 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
      </button>
    </div>

    <%= link_to root_path do %>
      <div class="flex">
        <h2 class="text-gray-700 font-black text-xl">Mabcia</h2>
        <h2 class="text-japonica-500 font-black text-xl">Ceramic</h2>
      </div>
    <% end %>

    <div>
      <%= link_to cart_path(@cart), class:'flex items-start hover:bg-white rounded py-2' do %>
        <svg class="w-8 text-japonica-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
        <% if cart_has_items %>
          <span class="text-xxs -ml-2 -mt-1 font-black text-white bg-gray-700 px-1 rounded-full"><%= cart_count_over_one %></span>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="sticky">
    <%= current_user.nil? ? (render 'shared/menu/menu_before_login') : (render 'shared/menu/menu_after_login') %>
  </div>
</nav>


<!-- Navbar sur desktop -->
<nav class="hidden lg:contents">

  <div class="sticky py-1 top-0 z-20 bg-white shadow">
    <div class="px-4 flex justify-between items-center max-w-7xl mx-auto">
      <div class="py-4 flex items-baseline space-x-8 xl:space-x-14">
        <div>
          <%= link_to root_path do %>
            <div class="flex">
              <h2 class="text-gray-700 font-bold text-2xl">Mabcia</h2>
              <h2 class="text-japonica-500 font-bold text-2xl">Ceramic</h2>
            </div>
          <% end %>
        </div>

        <%= current_user.nil? ? (render 'shared/navbar/nav_buttons_before_login') : (render 'shared/navbar/nav_buttons_after_login') %>

      </div>

      <div class="py-2 flex items-center space-x-2">
        <% if current_user.nil? %>
          <div class="<%= params[:controller] == "users" ? 'px-2 py-1 rounded text-sm font-semibold text-gray-600 bg-gray-200 focus:outline-none xl:text-base' : 'px-2 py-1 rounded text-sm font-semibold text-gray-600 hover:bg-gray-100 focus:outline-none transition duration-200 ease-in-out xl:text-base' %>">
            <%= link_to "Se connecter", new_user_session_path %>
          </div>
        <% else %>
          <div data-controller="pic-menu" class="relative ">
            <button data-action="click->pic-menu#toggle" class="focus:outline-none rounded-full border-2 border-transparent focus:border-2 focus:border-japonica-500 transition duration-300 ease-in-out ">
              <%= cl_image_tag current_user.profil_pic, class:'w-12 rounded-full border border-gray-300 focus:border-2 focus:border-japonica-500 transition duration-300 ease-in-out' %>
            </button>
            <div data-pic-menu-target="toggleable" class="hidden absolute z-40 right-0 mr-1 w-60 flex flex-col items-start rounded overflow-hidden">
              <%= link_to "Mes comandes", orders_path, class:'px-3 py-3 text-gray-600 text-left w-full bg-white hover:bg-gray-100 transition duration-300 ease-in-out' %>
              <%= link_to "Paramètres", edit_user_registration_path, class:'px-3 py-3 text-gray-600 text-left w-full bg-white hover:bg-gray-100 transition duration-300 ease-in-out' %>
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'px-3 py-3 text-gray-600 text-left w-full bg-white hover:bg-gray-100 transition duration-300 ease-in-out' %>
            </div>
            <button data-action="click->pic-menu#toggle" data-pic-menu-target="invisible" class="hidden fixed inset-0 w-full h-full cursor-default focus:outline-none"></button>
          </div>
        <% end %>
        <%= link_to cart_path(@cart), class:'flex items-start hover:bg-gray-100 rounded py-2 px-2 transition duration-300 ease-in-out' do %>
          <svg class="w-8 text-japonica-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
          <% if cart_has_items %>
            <span class="text-xxs -ml-2 -mt-1 font-black text-white bg-gray-700 px-1 rounded-full"><%= cart_count_over_one %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</nav>
