<div class="flex space-x-2 xl:space-x-6">
  <div>
    <%= link_to items_path, class:"" do %>
      <button class="w-full rounded px-2 py-1 text-base font-semibold text-gray-700 hover:bg-gray-100 focus:outline-none xl:text-lg">Magasin</button>
    <% end %>
  </div>
  <div>
    <%= link_to articles_path, class:'' do %>
    <button class="w-full rounded px-2 py-1 text-base font-semibold text-gray-700 hover:bg-gray-100 focus:outline-none xl:text-lg">Blog</button>
    <% end %>
  </div>
  <div>
    <%= link_to about_path, class:'' do %>
    <button class="w-full rounded px-2 py-1 text-base font-semibold text-gray-700 hover:bg-gray-100 focus:outline-none xl:text-lg">A propos</button>
    <% end %>
  </div>
  <div>
    <%= link_to orders_path, class:"" do %>
      <button class="w-full rounded px-2 py-1 text-base font-semibold text-gray-700 hover:bg-gray-100 focus:outline-none xl:text-lg">Carnet de commande</button>
    <% end %>
  </div>
  <div>
    <%= link_to destroy_user_session_path, method: :delete, class:"" do  %>
      <button class="w-full rounded px-2 py-1 text-base font-semibold text-gray-700 hover:bg-gray-100 focus:outline-none xl:text-lg">Se déconnecter</button>
    <% end %>
  </div>
</div>
