<div class="pt-4 px-2 lg:pt-8">

  <%= render "shared/forms/form_header" %>

  <div class="pt-5">
    <h1 class="text-2xl text-gray-800 font-bold text-center">Me connecter</h1>

    <div class="py-8 max-w-xs mx-auto">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="space-y-2">

          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      error: 'Adresse mail obligatoire',
                      label: "Email",
                      label_html: { class:"text-gray-600"},
                      input_html: { class: "px-2 py-2 border-2 border-gray-200 w-full rounded-lg focus:outline-none focus:border-japonica-300"} %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      label: "Mot de passe",
                      error: 'Adresse mail obligatoire',
                      label_html: { class:"text-gray-600 "},
                      input_html: { class: "px-2 py-2 border-2 border-gray-200 w-full rounded-lg focus:outline-none focus:border-japonica-300"} %>


          <div class="pt-2">
            <div class="pb-4 flex justify-between items-center">

              <%= f.input :remember_me,
                          label: "Connexion-auto",
                          label_html: { class:"text-gray-600 flex items-center"},
                          input_html: { class:"mr-2"},
                          as: :boolean if devise_mapping.rememberable? %>
              <%= render "devise/shared/links" %>
            </div>
            <%= f.button :submit, "Se connecter", class:"py-4 w-full text-lg text-white font-bold bg-gray-900 rounded-xl focus:outline-none" %>
          </div>
        </div>


      <% end %>

      <div class="flex justify-between items-center">
        <svg class="w-20 h-16" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 1"><path stroke="#A09F9F" d="M0 .5h89"/></svg>
        <span class="text-sm text-center text-gray-700">Nouveau client ?</span>
        <svg class="w-20 h-16" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 1"><path stroke="#A09F9F" d="M0 .5h89"/></svg>
      </div>
      <div class="flex justify-center">
        <%= link_to "Crée un compte",  new_user_registration_path, class:'py-4 text-center w-full text-lg text-gray-800 font-bold bg-white border-2 border-gray-200 rounded-xl focus:outline-none hover:text-japonica-500 hover:border-japonica-300 transition duration-300 ease-in-out' %>
      </div>
    </div>
    </div>
