
<div data-controller="item-categories">

  <div class="py-16 lg:py-24 max-w-7xl mx-auto">
    <div class="px-2 md:px-6">
      <h2 class="text-3xl font-medium font-cursive text-left text-gray-800 tracking-tight lg:text-4xl">Mes créations du moment</h2>
      <p class="pt-2 text-sm text-gray-500 max-w-md">Explorez ma séléction personnelle d'objet que j'ai réalisée à la main dans mon ateliers. Des objets du quotidiens, décoratifs, pour votre intérieur ou votre aquarium, il y en a pour tous les goûts.</p>
    </div>


    <!-- Search section with search bar submit and reset button -->
    <!-- <div class="mx-2 md:mx-4 lg:pt-2 flex items-center ">

      <%#= link_to items_path do %>
        <button class="px-6 py-4 uppercase tracking-tight text-sm font-semibold border-2 border-white rounded-xl hover:bg-white hover:text-japonica-500">Reset</button>
      <%# end %>

      <%#= form_tag items_path, class:'flex items-center  border-b-2 border-gray-200', method: :get do %>

        <div><svg class="w-6 text-gray-500"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/></svg></div>

        <%#= text_field_tag :query,
          params[:query],
          placeholder: "Chercher par nom, catégories, matériaux..", class:'mx-2 text-base py-4 focus:outline-none w-full tracking-tighter'
        %>
        <%#= submit_tag "Search", class:'hidden'%>

      <%# end %>
    </div> -->


<!-- Catégories filtrer par query -->
<!-- <div class="overflow-x-auto scrollbars-hidden py-4 mt-3 ml-2 bg-gray-300">
  <div class="px-4 inline-flex space-x-6 items-center text-center">
    <div class="<%#= params[:category] == nil ? ' font-bold text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
      <%#= link_to 'Tout voir', items_path %>
    </div>

    <%# categories = ["Aquarium", "Photophores", "Sculptures", "Pots, coupes", "Cuisine", "Décoration", "Extérieur"] %>
    <%# categories.each do |category| %>
      <div class="<%#= params[:category] == category ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%#= link_to category, items_path(category: category) %>
      </div>
    <%# end %>
  </div>
</div> -->


<!-- Catégories filtrer en front en JS  -->

    <div class="pt-4 pb-10  mt-10 ml-2 overflow-x-auto scrollbars-hidden md:ml-6">
      <div class="px-4 inline-flex items-center text-center space-x-2">

        <button data-action="click->item-categories#displayAll" data-item-categories-target="allButton" class="px-4 py-3 text-sm font-bold text-white rounded-full  border border-gray-200 whitespace-nowrap focus:outline-none">Tout voir</button>
        <% @categories.each do |category| %>
          <button data-action="click->item-categories#display" data-type="<%= category %>" data-item-categories-target="categoryButton" class="px-4 py-3 text-sm font-bold rounded-full border border-gray-200 whitespace-nowrap focus:outline-none"> <%= category %> </button>
        <% end %>
      </div>
    </div>
    <div class="border-b border-gray-200 mx-2 md:mx-6"></div>


    <!-- All items reserve grid -->

    <div data-item-categories-target="allCategory" class="hidden px-2 pt-6 grid grid-cols-2 gap-2 md:px-6 lg:grid-cols-3 xl:grid-cols-4 lg:gap-4">
      <% @items.each do |item| %>
        <%= link_to item_path(item), class:"group" do %>
            <div class="relative shadow-3xl rounded pb-2">
              <div class="relative" style="padding-bottom: 80%">
                <%= cl_image_tag item.photos[0].key, class:'rounded-t absolute h-full w-full inset-0 object-cover shadow'  %>
              </div>
              <div class="px-2 pt-2 ">
                <div class="text-gray-700 font-semibold tracking-tight truncate font-cursive" ><%= item.title %></div>
              </div>
              <% if item.sold? %>
                <div class=''>
                  <div class="absolute top-0 right-0 p-2">
                    <span class="rounded px-1 py-1 bg-gray-700 text-white text-xs font-bold">Vendu</span>
                  </div>
                  <div class="px-2 pt-2">
                    <span class="font-medium text-gray-800 line-through"> <%= item.price %>€ </span>
                  </div>
                </div>
              <% else %>
                <div class="px-2 pt-2">
                  <span class="font-medium text-gray-800"> <%= item.price %>€ </span>
                </div>
              <% end %>
            </div>
        <% end %>
      <% end %>
    </div>


    <!-- Filtrage des items par category reserve grid  -->

    <% @categories.each do |category| %>
      <div data-type="<%= category %>" data-item-categories-target="category" class="hidden px-2 pt-4 grid grid-cols-2 gap-2 md:px-6 lg:grid-cols-3 xl:grid-cols-4 lg:gap-4">
        <% @items.where(category: category).each do |item| %>
          <%= link_to item_path(item), class:"group" do %>
          <div class="shadow-3xl rounded pb-2">
            <div class="relative" style="padding-bottom: 80%">
              <%= cl_image_tag item.photos[0].key, class:'rounded-t absolute h-full w-full inset-0 object-cover shadow'  %>
            </div>
            <div class="px-2 pt-2">
              <div class="text-gray-700 font-semibold tracking-tight truncate font-cursive"><%= item.title %></div>
            </div>
            <% if item.sold? %>
              <div class='flex justify-between items-center'>
                <div class="px-2 pt-2">
                  <span class="font-medium text-gray-800"> <%= item.price %>€ </span>
                </div>
                <div class="px-2">
                  <span class="rounded px-1 py-1 bg-gray-700 text-white text-xs font-bold">Vendu</span>
                </div>
              </div>
            <% else %>
              <div class="px-2 pt-2">
                <span class="font-medium text-gray-800"> <%= item.price %>€ </span>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>


 <!--    My display grid is here, it is where cards finish their course  -->
    <div id="table" class="px-2 pt-8 grid grid-cols-2 gap-2 md:px-6 lg:grid-cols-3 xl:grid-cols-4 lg:gap-4">

    </div>

<!--     container where dynamic pagination button are displayed   -->
    <div data-item-categories-target="pageButtons" class="pt-12 px-2 md:px-6">

    </div>

<!--     Pagination en back-->
    <%#= link_to "Next page", items_path(page: @page + 1) %>
    <%#= link_to "Last Page", items_path(page: @page > 0 ? @page - 1 : @page) %>

  </div>
</div>
