


<div class="py-10">
  <h2 class="text-3xl font-bold text-left px-2 text-gray-800">Mes créations du moment</h2>

  <%= form_tag items_path, class:'flex items-center border-b-2 border-gray-200 mx-2', method: :get do %>
    <div><svg class="w-6 text-gray-500"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/></svg></div>
    <%= text_field_tag :query,
      params[:query],
      placeholder: "Chercher un article(nom, catégories, matériaux..)", class:'mx-2 text-sm py-4 focus:outline-none w-full'
    %>
    <%= submit_tag "Search", class:'hidden'%>

  <% end %>


  <div class="overflow-x-auto scrollbars-hidden py-4 mt-3 ml-2 bg-gray-300">
    <div class="px-4 inline-flex space-x-6 items-center text-center">

      <div class="<%= params[:category] == nil ? ' font-bold text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Tout voir', items_path %>
      </div>

      <div class="<%= params[:category] == 'Aquarium' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Aquarium', items_path(category: 'Aquarium') %>
      </div>

      <div class="<%= params[:category] == 'Photophores' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Photophores', items_path(category: 'Photophores') %>
      </div>

      <div class="<%= params[:category] == 'Sculptures' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Sculptures', items_path(category: 'Sculptures') %>
      </div>

      <div class="<%= params[:category] == 'Pots, coupes' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Pots, coupes', items_path(category: 'Pots, coupes') %>
      </div>

      <div class="<%= params[:category] == 'Cuisine' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Cuisine', items_path(category: 'Cuisine') %>
      </div>

      <div class="<%= params[:category] == 'Décoration' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Décoration', items_path(category: 'Décoration') %>
      </div>

      <div class="<%= params[:category] == 'Extérieur' ? 'font-bold  text-japonica-500 whitespace-nowrap' : ' font-medium text-gray-600 whitespace-nowrap' %>">
        <%= link_to 'Extérieur', items_path(category: 'Extérieur') %>
      </div>
    </div>
  </div>
  <div class="pt-4 grid grid-cols-2 gap-2 px-2">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class:"group" do %>
      <div class="shadow-3xl rounded pb-2">
        <div class="relative" style="padding-bottom: 80%">
          <%= cl_image_tag item.photos[0].key, class:'rounded-t absolute h-full w-full inset-0 object-cover shadow'  %>
        </div>
        <div class="px-2 pt-2">
          <div class="truncate "><%= item.title %></div>
        </div>
        <div class="px-2">
          <span class="font-bold"> <%= item.price %>€ </span>
        </div>
        <div class="px-2">
          <span class="rounded-full py-1 px-2 bg-japonica-300 text-gray-800 text-xs font-bold">Livraison GRATUITE</span>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
