<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <title>Objets fait main - Céramique - Mabciaceramic</title>
    <meta charset="utf-8">
    <meta name="description" content="Boutique en ligne d'articles en céramique, uniques et fabriqués à la main">

<!--  Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32-f5f581cfd59e55cfdef7ea59d2acfe9d7e1d0a9dbb6b15a638a2ebf6607f9b71.png" >

<!-- Apple Touch Icon (at least 200x200px) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180-02e25ef9a5cce2a43465e551deb4e5aa5da766ef1a8e8c6408a106050fc64131.png">
<!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- canonical -->
     <link rel="canonical" href="<%= url_for(:only_path => false) %>" />
<!-- Osano for cookie consent -->
    <script src="https://cmp.osano.com/169ldSSR9wHkkoZj/4484c914-cafd-47a7-8632-4eaf1832bcfc/osano.js"></script>

<!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-32N0L2H7X5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-32N0L2H7X5');
    </script>

    <!-- Hotjar Tracking -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2217529,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!--     it is disable because of style for administrate -->
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body class="min-h-screen bg-gray-50">

    <%= render "shared/navbar" unless @disable_nav %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <%= render "shared/footer" unless @disable_footer %>

  </body>
</html>
